@media screen and (max-width:800px) {
    .nav-header{
        position: relative; 
        left: 50%;
        
        background-color: gold !important;
    }
    
}
@media screen and (max-width:991px) {
    .nav-link{
        text-align: center !important;
        background-color: #262936 !important;
        transform: translateX(-20%) !important;
        border-width: 0px !important;
        border-radius: 0px !important;
        padding: 20px !important;
        border-radius: 5px !important;
        position: relative;
       
       
    }
    .nav-link:hover{
        color: white !important;
        border-color: transparent !important;
    }
    .link-1{
        border-bottom: 0.2px white solid !important;
       
    }
    .active{
        border-color: transparent !important;
        border-bottom: 0.2px white solid !important;
        border-radius: 5px !important;
    }
    .navbar{
position: relative !important;
z-index: 99 !important;
    }
    .form-in{
        position: relative !important;
        z-index: 1 !important;
    }
    
}
@media screen and (max-width:256px) {
    .sub-2{
        width: 50% !important;
    }
    .sub{
        width: 50% !important;
    }
   
}
@media screen and (min-width:256px) and (max-width:600px) {
    .sub-2{
        width: 35% !important;
    }
    .sub{
        width: 35% !important;
    }
   
}
@media screen and (min-width:0px) and (max-width:991px) {
    .about{
         height: 1300px !important; 
    }
}
@media  screen and (max-width:500px) {
    .input-2{
        /* width: 150px !important; */
        transform: translateX(-15%) !important;
    }
    
}
@media screen and (max-width:600px){
    .foot-pr{
        /* transform: translateX(-10%) !important; */
        width: 110% !important;
        text-indent: -10px !important;
    }
    
}

