
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
}
.navbar{
    background-color:#1e202b !important;
    height: 150px;
    color: white ;
}
.nav-container{
   
    transform: translateX(25%);
}
.nav-link{
    padding-inline: 25px !important;
    padding-block: 0px;
    color: white !important;
   
    border: 2px solid transparent !important ; 
    border-radius: 20px !important;
    transition: all 0.2s ease ;
}
.nav-link:hover{
    border-color: #009ad8 !important;
    color: #009ad8 !important;
}
.active{
    padding-inline: 25px !important;
    padding-block: 0px;
    border: 2px solid #009ad8 !important ;
    border-radius: 20px !important;
    color: #009ad8 !important;

}
.home{
    background-image: url("https://routeweather.netlify.app/images/banner.png") !important;
   height: 350px;
    background-position: end center;
    background-size: cover;
    background-repeat: no-repeat;
}
input{
    background-color:#1e202b !important;
    border-color: #1e202b !important;
    height: 58px;
}
input::placeholder{
    color: gray !important;
}
input:focus{
    background-color: white !important;
}
.form-in{
    transform: translateX(-8%);
}
.input-2{
    width: 110% !important;
}
.sub-2{
    width: 9% !important;
    right:-7% !important;
    top:57% !important;
    position: absolute;
    border-radius: 30px;
    border-color: #009ad8;
    border-width: 0px;
    background-color: #009ad8 !important;
    color: white !important;
    /* display: none; */
}
.count-head{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    width: 100% !important;
 }
 .head-con{
    background-color: #262936;
  
   
    height: 430px;
    
} 
.about-con h1{

    font-size: 100px;
    }
    .cont-1{
    background-color: #323549;
    } 
     .bro{
        border-radius: 0px !important;
        color: #bfc1c8 !important;
        background-color: transparent;
    } 
     .bro:hover{
        background-color: transparent;
        color: #bfc1c8;
    } 
     .head-1{
        font-size: 30px !important;
    } 
     .head-2{
        font-size: 20px !important;
        font-weight: 400;
     }  
     .about{
        height: 330px !important;
        background-color: #1e202b;
    }  
    .head-pt2{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #323544;
    }  
    .head-pt1{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #323544;

    }
    footer{
        background-color: #262936;
        height: 230px !important;
    }
    .sub{
        width: 15% !important;
        right: 1%;
        top:48%;
        position: absolute;
        border-radius: 30px;
        border-color: #009ad8;
        border-width: 0px;
        background-color: #009ad8 !important;
        color: white;
    }
    footer p{
        color: #bfc1c8;
        font-family: "Roboto", "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-indent: 100px;
    }
    i{
        border-radius: 50%;
        line-height: 2;
        padding: 5px;
        color: #009ad8 !important;
        background-color: #1e202b;
        transition: all 0.3s ease;
    
    }
    .icon-1{
        border: #009ad8 dotted 1px;
    }
    i:hover{
    color: white !important;
    background-color: #009ad8;
    }